name: Continuous Integration
on:
  push:
  pull_request:
  release:
    types:
      [published]
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
        - windows-2019
        - windows-2016
        - ubuntu-20.04
        - ubuntu-18.04
        - macos-10.15
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '14.x'
        registry-url: 'https://registry.npmjs.org'
    - run: npm ci
    - run: npm run-script lint
    - run: npm run-script buildTypeScript
    - run: npm run-script buildNyc
  release:
    if: github.event_name == 'release'
    needs: build
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '14.x'
        registry-url: 'https://registry.npmjs.org'
    - run: sed -i s/"999\.999\.999"/"${GITHUB_REF##*/}"/ package.json package-lock.json
    - run: npm ci
    - run: npm run-script buildTypeScript
    - run: npm publish
      env:
        NODE_AUTH_TOKEN: ${{secrets.npm_token}}
